#header {
  background-image: url("../../../../../assets/img/headerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .logo {
        font-size: 17px;
        color: #004a60;
      }
      .navigation {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navLink {
          color: #004a60;
          font-size: 24px;
          font-weight: 700;
          text-decoration: none;
          transition: color 0.3s ease;
          &:hover {
            color: white;
          }
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 20px;
        select {
          width: 100px;
          height: 40px;
          padding-inline: 10px;
          background: transparent;
          border: 2px solid #004a60;
          font-family: "Abril Fatface", serif;
          font-size: 20px;
          color: #004a60;
          cursor: pointer;
          outline: none;
          border-radius: 10px;
        }
        button {
          width: 120px;
          height: 40px;
          border-radius: 10px;
          background: #004a60;
          color: white;
          font-size: 20px;
          border: none;
          font-family: "Abril Fatface", serif;
        }
      }
      .burgerIcon {
        display: none;
      }
      .burgerMenu {
        display: none;
        background-image: url("../../../../../assets/img/burgerbg.png");
        position: absolute;
        top: 0;
        right: 0;
        padding-block: 30px;
        display: flex;
        align-items: center;
        padding-inline: 40px;
        border-radius: 10px;
        h6 {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 15px;
          color: #004a60;
        }
        .components {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
          a {
            color: #004a60;
            font-weight: 600;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  #header {
    .header {
      .content {
        .logo {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 920px) {
  #header {
    .header {
      .content {
        .navigation {
          .navLink {
            font-size: 20px;
          }
        }
        .actions {
          select {
            width: 80px;
            height: 30px;
            font-size: 15px;
          }
          button {
            width: 100px;
            height: 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 769px) {
  #header {
    width: 100%;
    height: 100px;
    .header {
      .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        .logo {
          h1 {
            font-size: 20px;
          }
        }
        .navigation {
          display: none;
        }
        .burgerIcon {
          display: block;
          font-size: 25px;
        }
        .burgerMenu {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 431px) {
  #header {
    height: 60px;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      .content {
        .navigation {
          display: none;
        }
        .actions {
          select {
            width: 70px;
            height: 25px;
            font-size: 12px;
          }
          button {
            width: 80px;
            height: 25px;
            font-size: 12px;
          }
        }
        .burgerIcon {
          display: block;
        }
        .burgerMenu {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 321px) {
  #header {
    height: 40px;
    .header {
      .content {
        height: 40px;
        padding-block: 10px;
        .logo {
          h1 {
            font-size: 15px;
          }
        }
        .navigation {
          display: none;
        }
        .actions {
          select {
            width: 60px;
            height: 15px;
            font-size: 8px;
          }
          button {
            width: 70px;
            height: 15px;
            font-size: 8px;
          }
        }
        .burgerIcon {
          display: block;
          font-size: 15px;
        }
        .burgerMenu {
          display: block;
          padding-inline: 20px;
          padding-block: 10px;
          h6 {
            top: 5px;
            right: 5px;
            font-size: 12px;
          }
          .components {
            a {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
