.welcome {
	background: url('../../../assets/img/wellcomeImgBg.png') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title {
		font-family: var(--font5);
		font-weight: 400;
		font-size: 80px;
		line-height: 125%;
		text-align: center;
		color: #fff;
		margin-bottom: 50px;
	}

	&__input {
		border-radius: 30px;
		padding: 11px 475px 11px 22px;
		width: 688px;
		height: 56px;
		background: #e5e4e9;
		border: none;
	}
}
