
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light;
}
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Frank Ruhl Libre", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Lexend", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Abril Fatface", sans-serif;
  --font6: "Poppins", sans-serif;
  --font7: "Arial", sans-serif;
  --font8: "Fira Sans", sans-serif;
  --font9: "SF Pro Text", sans-serif;
  --font10: "Milliard", sans-serif;
  --font11: "AG Benguiat Cyr-Bold", sans-serif;
  --font12: "Benguiat", sans-serif;
}